<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">

	<variable name="logDirectory" value="${basedir}/Logs" />

	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<targets async="true">
		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="" />
		</target>
	</targets>
	<rules>
		<logger name="*" writeTo="seq" minlevel="Trace" />
	</rules>
</nlog>